*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Cormorant Infant", serif;
}
.navlink{
    z-index: 1;
    width: 100%;
    position: fixed;
    padding: 20px 30px;
    background-color: white;
}
.icon, .iconclose{
    float: left;
}
#list-big-screen{
    display: none;
}
.cont-logo{
    float: right;
}
#link-list{
    background-color: white;
    width: 100%;
    border-radius: 8px;
    padding: 50px 20px;
} 
ul li{
    padding: .5em .7em;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s ease;
    color: #556B2F;
}
h1,h2, span{
    color: #556B2F	;
    font-weight: 600;
    line-height: 1;
}
h1{
    font-size: clamp(2rem, 1rem + 10vw, 5rem);
}
h1,p, span{
margin-bottom: .5em ;
margin-top: .5em;
}
img{
    display: block;
    max-width: 100%;
}
.hero-main-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 4em;
}
.hero-main-section img{
    width: 500px;
    border: 1px dotted transparent;
    border-radius: 50%;
    margin-top: 50px;
}
h1 ,.soft-skills{
    text-align: center;
}
.contener-section{
    padding: 4rem 0;
}
#discreption, #text,.respon-ed-sk{
    padding: 1em 1.5em;
    max-width: 60rem;
    margin: 0 auto;
}
#discreption, #text{
    font-size: clamp(1rem , 2.5vw, 1.5rem);
}
.contener-section #downlad{
        margin-top: 1.5em;
        margin-left: 1.8em;
        border-radius: 25px;
        border: 1px dotted  #556B2F;
        background-color: #fdf1df;
        padding: 5px;
}
.respon-ed-sk{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
}
.soft-skills{
    margin: 1rem 2vw;
    background-color: rgb(243, 243, 241);
    border-radius: 1rem;
    overflow: hidden;
    padding: 2rem;
}
.soft-skills h3{
    border-bottom: 1px solid #e0dca5;
    margin-bottom: 10px ;
}
.project-working {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    min-height: 400px;
}
.project-working a h3{
    display: inline-block;
    position: relative;
    color: #556B2F;
    padding: 8px 16px;
    list-style-type: none;
    margin: 0 5rem;
    background-color: #f3f1e8;
    border: 2px solid #e4e1d2;
    border-radius: 5px;
    overflow: hidden;
    transform: 0.5s;
}
.project-working a h3::before{
    content: '';
    position: absolute;
    background-color: rgb(145, 132, 122, .2);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
.project-working a h3:hover{
    color: #556B2F;
    transform: scale(1.1);

}
.project-working a h3::before{
    top: 100%;
    left: 100%;
    transition: 0.7s;
}
.project-working  a h3:hover::before{
    top: -50px;
    left: -50px;
}
.project-working  a h3:active::before{
    transition: 0%;
}
.project-working{
    margin: 1rem;
    box-shadow: 1px .5px 15px  #e0e4d9;
    border-radius: 30px;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    transition: .30s ease;
}
.project-working::before{
    content: '';
    position: absolute;
    width: 100%;
    background-image: linear-gradient(180deg,#c1d1bf,#e4e1d2);
    height: 100%;
    border-radius: 50%;
    animation: rotBGimg 4s linear infinite;
    transition: all .1s linear;
    z-index: -1;
}
@keyframes rotBGimg {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.project-working::after{
    content: '';
    border-radius: 25px;
    position: absolute;
    background: #fcfaf4;
    z-index: -1;
    inset: 3px;
}
.contener-certificate{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.Certificate-other-img, .certificate-img{
    margin: .7rem;
    box-shadow: 1px .5px 15px  #e0e4d9;
    border-radius: 20px;
    background-image: linear-gradient(85deg, #e0e4d9 ,white);
    overflow: hidden;
    padding: 4px;
    transition: transform 0.4s;
}
.certificate-img:hover,.Certificate-other-img:hover{
    transform: translate(-8px,-16px) rotate(3deg) scale(1.5);
}
footer {
    text-align:center;
    background: #FAEBD7;
    padding:10px;
}

footer > a, #email {
    font-size:8vw;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:2px solid #ccc;
    margin:0 8px;
    color:inherit;
    color: #556B2F;
}
footer > a:hover {
    opacity:0.75;
}

@media (min-width: 40em) {

.icon, .iconclose{
    display: none;
}
.cont-logo{
    float: right;
}

.navlink{
    position: fixed;
    background-color: #FAEBD7	;
    width: 100%;
    font-weight: 600;
    z-index: 1;
}
#list-big-screen{
    display: flex;
    float: left;
    position: relative;
    top: 15px;
    gap: 10px;
}
.hero-main-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 150px;
    padding-top: .5em;

}
.hero-main-section img{
    position: relative;
    top: 120px;
    left: 350px;
    
}
#text{
    position: absolute;
    margin-top: 30%;
    margin-left: 43rem;
}
.contener-section #downlad{
    margin-left: 75em;
}
.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
footer {
    display: flex;  
    padding: 2em 8vw;
}

footer > a, #email {
    font-size:2vw;
}

#copywrite {
    position: relative;
    float: left;
    left: 40em;
}
}