



@media (max-width: 480px) {
    body {
        background-color: #caacac;
    }
    *{
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        box-sizing: border-box;
        font-family: "Cormorant Infant", serif;
    }
    body{
        width: 100%;
        height: 500px;
        background-color: #ffffff;
        width: 500px;
    }
    #text p span{
        color: #70440b;
        font-size: 40px;
    }
    #text p{
        font-size: 30px;
    }
    #text h1{
        font-size: 58px;
        color: #99784c;
        text-shadow: -5px 2px 10px gray;
    }
    .icon{
        position: fixed;
        float: right;
        right: 30px;
        top: 25px;
    }
    .cont-logo img{
        width: 70px;
    }
    .cont-logo{
        position: absolute;
        left: 25px;
        top: 20px;
    }
    .navlink ul li{
    display: none;
    background-color: white;
    min-height: 160px;
    box-shadow: 0px 8px 50px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    .show {display: block;}
    
    .hero-main-section .logoImg img{
        width: 520px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;
        top: 120px;
    }
    #text{
        margin: 0 auto;
        position: relative;
        top: 130px;
        left: 30px;
    }
    .section-tow{
        margin-left: 30px;
        margin-top: 250px;
    }
    .section-tow h1{
    font-size: 100px;
    color: #9c9361;
    text-shadow: -5px 2px 10px gray;
    border-bottom: 1px double rgb(107, 93, 15);
    padding: 50px 0 20px 25px;
    }
    .section-tow h2{
    font-size: 40px;
    padding-bottom: 5px;
    }
    .section-tow a #downlad{
    font-size: 25px;
    text-decoration: none;
    border-radius: 50px; 
    border: 1px double rgb(107, 93, 15);
    margin-left: 50%;
    margin-top: 50px;
    padding: 15px;
    }
    .section-tow p{
        font-weight: 590;
        font-size: 30px;
    }
    .section-tow #discreption{
        margin-top: 25px;
        padding: 5px;
        
    }
    .section-tow ul li{
    list-style-type: none;
    font-size: 25px;
    }
    .respon-ed-sk .soft-skills{
        padding: 25px 55px;
    }
    #Projects{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .project-working{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        margin: 4rem 5vw;
        box-shadow: 1px .5px 20px  #a5c4e0;
        border-radius: 30px;
        overflow: hidden;
        padding: 1.25rem;
        position: relative;
        transition: .30s ease;
    }
    .project-working img{
        /* width: 100%; */
        max-width: 100%;
        /* display: block; */
        /* border: 1px solid blue; */
        height: auto;
        z-index: 1;
    }
    .project-working h2{
        font-size: 50px;
        text-align: center;
        z-index: 1;
    }
    .project-working:hover{
        transform: translatex(20px);
    }
    .project-working::before{
        content: '';
        position: absolute;
        width: 100px;
        background-image: linear-gradient(180deg,#c2c0b4,#f8d408);
        height: 130px;
        animation: rotBGimg 3s linear infinite;
        transition: all .2s linear;
    }
    @keyframes rotBGimg {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    .project-working::after{
        content: '';
        border-radius: 25px;
        position: absolute;
        background: #f0f5fc;
        inset: 5px;
    }
} 

@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: rgb(250, 250, 236);
    }
.cont-logo{
    top: 20px;
    left: 12px;
}
.navlink ul{
    right: 10px;
    gap: 20px;
}
.hero-main-section .logoImg img{
    width: 400px;
    border: 1px dotted transparent;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 30px;
    
}

#text{
    margin: 0;
    float: left;
    left: 43%;
    top: 30%;
}
.section-tow{
    height: 100%;
    padding: 100px 0 0 30px ;
    margin: 0 auto;
}
.section-tow h1{
    font-size: 72px;
    padding-bottom: 13px;
}
.section-tow h2{
    font-size: 30px;
    padding-bottom: 10px;
}
.section-tow a{
    background-color: #aeddee;
    text-decoration: none;
    border-radius: 25px;
    padding: 8px;
    margin-left: 70%;
}

.section-tow p{
    font-weight: 550;
    font-size: 25px;
}
.section-tow ul li{
    list-style-type: none;
    font-weight: 580;
    font-size: 25px;
}
} 