@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Oswald", serif;
}
.navlink{
    z-index: 1;
    width: 100%;
    position: fixed;
    padding: 20px 30px;
    background-color: white;
}
.icon, .iconclose{
    float: left;
}
#list-big-screen{
    display: none;
}
#link-list{
    width: 100%;
} 
.menu-link{
    display: flex;
    justify-content: center;
}
ul li{
    padding: .5em .7em;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s ease;
    color: #583615;
}
h1,h2, span{
    color: #583615;
    font-weight: 500;
    line-height: 1;
}
h1{
    font-size: clamp(2rem, 1rem + 10vw, 5rem);
}
h1,p, span{
margin-bottom: .5em ;
}
img{
    max-width: 100%;
}
.hero-main-section{
    display: flex;
    flex-direction: column;
    background-color: rgb(171, 227, 196, .3)    ;
    width: 100%;
    z-index: -1;
}
.hero-main-section img{
    width: 550px;
    border: 1px dotted transparent;
    border-radius: 50%;
    margin-top: 20px;
}
.background-image{
    background: url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 15px top 90px ,
    url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right bottom 100px, 
    url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 10px top 200px,
    url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 60px top 100px,
    url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 50px bottom 238px,
    url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left bottom 65px,
    url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left bottom 238px,
    url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 125px bottom 20px,
    url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 22px top 210px;
    background-repeat: no-repeat;
    background-size: 50px;
    animation: cartoon 6s ease;

}
@keyframes cartoon {
    from {
        background: 
        url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 120px top 180px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 35px top 300px,
        url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left 20px bottom 60px,
        url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 250px top 500px,
        url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 100px top 150px,
        url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 20px top 250px,
        url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 80px bottom 150px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left 250px top 150px,
        url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right 150px top 300px;
        background-repeat: no-repeat;
        background-size: 130px, 150px;
        }
    to {
        background: url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 15px top 90px ,
        url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right bottom 100px, 
        url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 10px top 200px,
        url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 60px top 100px,
        url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 50px bottom 238px,
        url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left bottom 65px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left bottom 238px,
        url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 125px bottom 20px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 22px top 210px;
        background-repeat: no-repeat;
        background-size: 50px;
    }
}
h1 ,.soft-skills{
    text-align: left;
    padding-left: .5em;
}
.contener-section{
    padding: 4rem 0;
}
#text{
    padding-left: 1.3em;
    font-weight: bold;
}
#discreption{
    padding: 0 1em;
    max-width: 60rem;
}
#discreption, #text{
    font-size: clamp(1.2rem , 2.5vw, 1.7rem);
}
#about{
    display: flex;
    flex-direction: column;
    background-color: #abe3c4    ;
    margin: 0 5px;
}
.card{
    margin: .5rem;
}
.soft-skills{
    margin: 1.3rem;
    border-radius: 10px;
    border: 1px dotted black;
    padding: 10px;
}
.project-working{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px double black;
    margin: 1rem;
    box-shadow: 1px .5px 15px  #e0e4d9;
    border-radius: 15px;
    overflow: hidden;
    padding: 1.5rem;
    position: relative;
    transition: .30s ease;
}
#downlad{
    margin: 1rem 5.3rem;
    border: 1px double black;
    background-color: #f3f1e8;
}
.project-working h3, #downlad{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #556B2F;
    padding: 8px 16px;
    border-radius: 5px;
    overflow: hidden;
    transform: 0.5s;
}
.project-working::before{
    content: '';
    position: absolute;
    width: 100%;
    background-image: linear-gradient(180deg,#c1d1bf,#e4e1d2);
    height: 100%;
    border-radius: 50%;
    animation: rotBGimg 4s linear infinite;
    transition: all .1s linear;
    z-index: -1;
}
@keyframes rotBGimg {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.project-working::after{
    content: '';
    border-radius: 25px;
    position: absolute;
    background: #f7f6f4;
    z-index: -1;
    inset: 4px;
}
.contener-certificate{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.Certificate-other-img, .certificate-img{
    margin: 1.5rem;
    border: 1px double black;
    box-shadow: 1px .5px 15px  #e0e4d9;
    border-radius: 10px;
}
.certificate-img:hover,.Certificate-other-img:hover{
    transition: all .3s ease-out;
    animation-name: animate;
    animation-duration: 1.5s;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }  
    50%{   
        transform: rotate(7deg);
    }  
    100%{
        transform: rotate(0deg);
    }
    }
footer {
    text-align:center;
    display: block;
    background-color: rgb(171, 227, 196, .4) ;
    padding: 1.5em;
}

.contcat-icon > a, #email {
    font-size: 1.8rem;
    width:40px;
    height:40px;
    line-height:30px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:2px solid #ccc;
    margin:0 8px;
    color: #556B2F;
}
.contcat-icon > a:hover, #email:hover {
    opacity:0.75;
    color: #662e0d;
}
@media (min-width: 40em) {

.icon, .iconclose{
    display: none;
}
.icon .fa, .iconclose .fa{
    display: none;
}
#link-list{
    display: none;
}
#link-list .menu-link{
    display: none;
}
.navlink{
    position: fixed;
    z-index: 1;
}
#list-big-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
}

.hero-main-section img{
    margin-left: 15px;
}
.background-image{
    background: url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 80px top 120px,
    url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right 60px top 200px, 
    url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 220px top 270px,
    url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 30px top 350px,
    url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left 250px top 100px,
    url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 200px top 115px,
    url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 20px bottom 120px,
    url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left 40px bottom 150px,
    url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 80px top 320px;
    background-repeat: no-repeat;
    background-size: 60px;
    animation: cartoon 6s ease;

}
@keyframes cartoon {
    from {
        background: 
        url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 120px top 130px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 70px top 400px,
        url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left 110px bottom 220px,
        url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 40px top 200px,
        url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 250px top 250px,
        url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 80px bottom 270px,
        url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 250px top 500px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left 250px top 150px,
        url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right 150px top 300px;
        background-repeat: no-repeat;
        background-size: 130px, 150px;
        }
    to {
        background: url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 80px top 120px,
        url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right 60px top 200px, 
        url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 220px top 270px,
        url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 30px top 350px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left 250px top 100px,
        url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 200px top 115px,
        url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 20px bottom 120px,
        url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left 40px bottom 150px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 80px top 320px;
        background-repeat: no-repeat;
        background-size: 60px;
    }
}
#text{
    position: absolute;
    margin-top: 44%;
    margin-left: 60%;
}
#about{
    margin: 0 1rem;
}
.respon-ed-sk{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
}
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem;
    gap: 2rem;
}
.contener-certificate{
    margin: 0 1em;
    grid-template-columns: repeat(3, 1fr);
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
@media (min-width: 64em){
    
    .contener-certificate{
        margin: 0 60px ;
    }
    #about{
        margin: 1rem;
    }
    .hero-main-section img{
        margin-left: 100px;
    }
    .background-image{
        background: url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 90px top 130px,
        url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right 100px top 250px, 
        url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 350px top 270px,
        url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 100px top 400px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left 350px top 100px,
        url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 220px top 125px,
        url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 50px bottom 100px,
        url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left 80px bottom 130px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 140px top 320px;
        background-repeat: no-repeat;
        background-size: 80px;
        animation: cartoon 6s ease;
    
    }
    @keyframes cartoon {
        from {
            background: 
            url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 120px top 130px,
            url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 70px top 400px,
            url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left 110px bottom 220px,
            url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 40px top 200px,
            url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 250px top 250px,
            url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 80px bottom 270px,
            url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 250px top 500px,
            url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left 250px top 150px,
            url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right 150px top 300px;
            background-repeat: no-repeat;
            background-size: 130px, 150px;
            }
        to {
            background: url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 90px top 130px,
        url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right 100px top 250px, 
        url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 350px top 270px,
        url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 100px top 400px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left 350px top 100px,
        url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 220px top 125px,
        url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 50px bottom 100px,
        url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left 80px bottom 130px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 140px top 320px;
        background-repeat: no-repeat;
        background-size: 80px;
        }
    }
    #text{
        position: absolute;
        margin-top: 29%;
        margin-left: 52%;
        font-weight: lighter;
    }
    .soft-skills{
        padding: 1.5rem .5rem;
    }
    .card{
        margin: 0 10rem;
    }
}
@media (min-width: 66em){
    .contener-certificate{
        margin: 0 100px;
    }
    .card{
        margin: 0 17rem;
    }
    .hero-main-section img{
        margin-left: 230px;
        margin-top: 80px;
    }
    .background-image{
        background: url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 90px top 130px,
        url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right 130px top 280px, 
        url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 500px top 300px,
        url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 222px top 400px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left 500px top 150px,
        url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 300px top 125px,
        url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 50px bottom 150px,
        url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left 80px bottom 130px,
        url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 160px top 350px;
        background-repeat: no-repeat;
        background-size: 90px;
        animation: cartoon 6s ease;
    }
    @keyframes cartoon {
        from {
            background: url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 100px top 150px,
            url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 250px top 500px,
            url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 320px top 130px,
            url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 200px top 400px,
            url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left 110px bottom 160px,
            url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left 550px top 200px,
            url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 520px top 320px,
            url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 80px bottom 210px,
            url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right 150px top 300px;
            background-repeat: no-repeat;
            background-size: 150px;
        }
        to {
            background: 
            url("https://cdn.pixabay.com/photo/2023/08/07/12/37/onions-8174929_960_720.png") right 130px top 280px, 
            url("https://cdn.pixabay.com/photo/2024/02/14/20/09/sweet-potato-8574146_1280.png") right 500px top 300px,
            url("https://cdn.pixabay.com/photo/2022/01/14/00/29/carrot-6936208_960_720.png") left 500px top 150px,
            url("https://cdn.pixabay.com/photo/2012/04/24/16/15/broccoli-40295_1280.png") right 300px top 125px,
            url("https://cdn.pixabay.com/photo/2023/06/23/18/55/eggplant-8084013_1280.png") right 50px bottom 150px,
            url("https://cdn.pixabay.com/photo/2024/03/26/03/45/tomato-8655799_1280.png") right 222px top 400px,
            url("https://cdn.pixabay.com/photo/2014/12/22/00/02/radish-576640_1280.png") left 90px top 130px,
            url("https://cdn.pixabay.com/photo/2012/04/05/00/40/garlic-25382_1280.png") left 80px bottom 130px,
            url("https://cdn.pixabay.com/photo/2022/01/14/00/31/mushrooms-6936223_1280.png") left 160px top 350px;
            background-repeat: no-repeat;
            background-size: 90px;
        }
    }
    #about{
        justify-content: center;
        flex-direction: row;
        margin: 1rem;
    }
    #text{
        margin-top: 25.5%;
        margin-left: 50%;
    }
    #discreption{
        padding-right: 15rem;
    }
    .soft-skills{
        margin-right: 5rem;
    }
}